{% extends 'movies/base.html' %}
{% block content %}
<h1 class="text-center">{{ persons.username }}'s Profile</h1>
{% with  followings=person.followings.all followers=person.followers.all  %}
<p class="text-center">팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}</p>
{% endwith %}
<hr>

<h3 class="text-center">{{ persons.username }}이 좋아하는 영화</h3>
{% with movies=persons.like_movies.all %}
<div class="col-4 my-2">
  {% for movie in movies %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> {{ movie.title }} </h5>
      <p class="card-text">{{ movie.review_set.all|length }}개의 리뷰</p>
    </div>
  </div>

  {% endfor %}
  {% endwith %}

</div>
</div>
<hr>
<h3 class="text-center">{{ persons.username }}이 작성한 리뷰</h3>
<div class="row">
  {% with persons.review_set.all as reviews  %}
  {% for review in reviews %}
  <div class="card">
    <div class="card-body">
      <div class="col-12 my-2">
        <blockquote class="blockquote mb-0">
          <p>{{ review.content }} <small>(영화: {{ review.movie.title }})</small></p>
          <p>평점: {{ review.score }}</p>

        </blockquote>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endwith %}
</div>
{% endblock  %}